.pokemon-nav-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.pokemon-nav-links button {
  font-family: "Press Start 2P";
  cursor: pointer;
  background: slateblue;
  padding: 0.5rem 1rem;
  color: #fff;
}
