body {
  background: #000;
  font-family: "Press Start 2P";
  color: #fff;
}

.pokemon-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card-container {
  display: block;
}

.disabled {
  cursor: not-allowed;
  color: #999 !important;
}

.error {
  background: rgb(236, 71, 71);
  padding: 1rem;
  border-radius: 10px;
}
